@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Syncfusion.Blazor.Navigations
@rendermode InteractiveServer
@using System.Security.Claims
<style> 

    .child {
        
        color: forestgreen;
    }
</style>
<div class="page">


    <main>
        <div>
            <NavMenu />
        </div>
        <article class="content px-4">
            @Body
        </article>
        <br/>
        <article>
            <div class="child">User : @_authenticationState.User.Identity.Name</div>
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private AuthenticationState? _authenticationState;

    protected override async Task OnInitializedAsync()
    {
        _authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = _authenticationState.User;

        if (user.Identity.IsAuthenticated)
        {
            // Access user information
            var userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            var userName = user.Identity.Name;
            // ... other claims or properties
        }
    }

}