@using Syncfusion.Blazor.SfPdfViewer
@using System.IO;
<SfPdfViewer2 DocumentPath="@DocumentPath" @ref="@Viewer" Height="100%" Width="100%"></SfPdfViewer2>
<div class="form-group col-md-6">
    <SfButton IsPrimary="true" class="btn btn-primary" @onclick="Callback" ></SfButton>
</div>
@code {
  
    [Parameter]
    public string? DocumentPath { get; set; }
    [Parameter]
    public EventCallback OnChanged { get; set; }
    SfPdfViewer2 Viewer;

    private void Callback()
    {
        OnChanged.InvokeAsync();
    }

}
